<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "vendor/bootstrap.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "vendor/bootstrap-theme.min.css" %}" type="text/css"/>
    <script src="{% static "vendor/jquery-1.12.1.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap.min.js" %}"></script>
    <script src="{% static "efp/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>
        <script src="{% static "vendor/d3.v3.min.js" %}"></script>
    <style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    </style>
    {% block head %}{% endblock %}
    {% load staticfiles %}
</head>
<body>
<div class="container">
    <hr>
<div class="col-xs-4">
</div>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <nav>
                        <!--<ul class = 'nav nav-pills pull-right'>-->

                        <!--</ul>-->
                    </nav>
            <a class="navbar-brand" href={% url "index" %}>Home</a>
                      <a class="navbar-brand" href={% url 'geneindex' %}>Gene Index</a>
                      <a class="navbar-brand" href={% url 'genesetindex' %}>Gene Set Index</a>
                      <a class="navbar-brand" href={% url 'table' %}>Table</a>
        </div>
      </div>
    </nav>

</div>
</div>
<div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
