{% extends 'efp/base.html' %}

{% block content %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Mastodon EFP</h1>
        <p> A description etc goes here</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>View individual gene</h2>
          <p>Description </p>
          <p><a class="btn btn-default" href="sgindex/" role="button">View single gene &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>View multiple genes</h2>
          <p>Description</p>
          <p><a class="btn btn-default" href="mgindex/" role="button">Show multiple genes &raquo;</a></p>
       </div>
      </div>

      <hr>

      <footer>
      </footer>
    </div>
<!--&lt;!&ndash; /container &ndash;&gt;        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
        <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>-->

        <!--<script src="js/vendor/bootstrap.min.js"></script>-->

        <!--<script src="js/main.js"></script>-->


{% endblock %}