{% extends 'efp/base.html' %}

{% block content %}
 <div class="container">
    <div class="jumbotron">
        <h1></h1>
        <p></p>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>View individual gene</h2>
            <a href="{% url 'geneindex' %}">List of all genes</a><br>
          <p> </p>

        </div>
        <div class="col-md-4">
          <h2>View multiple genes</h2>
            <a href="{% url 'genesetindex' %}">Interesting sets</a><br>
          <a href="/table/">Complete table</a>
            <p></p>
       </div>
      </div>

      <hr>

      <footer>
      </footer>
    </div>

{% endblock %}