{% extends 'efp/base.html' %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h1>Mastodon EFP</h1>
        <p> A description etc goes here</p>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>View individual gene</h2>
            <a href="{% url 'geneindex' %}">List of all genes</a><br>
            <a href="{% url 'geneindex' %}">Interesting sets todo</a><br>
          <p>Description </p>

        </div>
        <div class="col-md-4">
          <h2>View multiple genes</h2>
          <a href="/table/">View table</a>
            <p>Description</p>
       </div>
      </div>

      <hr>

      <footer>
      </footer>
    </div>

{% endblock %}