{% extends 'efp/base.html' %}
{% load static from staticfiles %}
{% block content %}
<style>
div.tooltip {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 15px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightgrey;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
}
</style>
 <script src="{% static "efp/js/heatmap.js" %}"></script>
      <div class="container">
        <h2>{{ result.display_name }}</h2>
      </div>
<div id="table"></div>
<div class="container">
<p> {{ result.description |safe }} </p>
<div id="heatmap"></div>
</div>

<div class="container">

      <hr>
      <footer> </footer>
    </div>
 <script> drawHeatmap('{% url "setmembers" result.name %}')</script>
{% endblock %}