{% extends 'efp/base.html' %}
{% load static from staticfiles %}
{% block header %}

<style>

body {
  margin: 0;
  overflow: hidden;
}

svg {
  font: 10px sans-serif;
}

.caption {
  font-weight: bold;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

</style>

{% endblock %}

{% block content %}
    <script src="{% static "efp/js/main_sg.js" %}"></script>
    <script src="{% static "efp/js/vendor/bootstrap-select.js" %}"></script>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <div class="jumbotron">
      <div class="container">
<div id="geneselid">
<!--<select id="geneselect" class="form-control" onchange="sgv("{% static "vendor/d3.v3.min.js" %}");">
-->
<!--<select id="geneselect" class="selectpicker" data-live-search="true" onchange='sgv();' >-->
<!---->
    <!--{% for r in result_list %}-->
    <!--<option value={{ r.maize_name }}> {{ r.maize_name }} </option>-->
    <!--{% endfor %}-->
<!---->
<!---->
<!--</select>-->
</div>

      <div id="zmaD2016"> </div>

      </div>
    </div>

    <div class="container">
      </div>
<div id="legend"></div>
      <hr>
<script>

</script>





      <footer>
      </footer>
    </div>

    <script> sgv('{% url "efpjson" result %}')</script>
{%endblock%}
