{% extends 'efp/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <script src="{% static "efp/js/main_sg.js" %}"></script>
    <script src="{% static "efp/js/vendor/bootstrap-select.js" %}"></script>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<div class="container">
          <div id="myGrid" style="width:1200px;height:500px;"></div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <hr>

      <footer>
      </footer>
    </div>



<link rel="stylesheet" href="{% static "vendor/SlickGrid/slick.grid.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "vendor/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css" %}" type="text/css"/>
    <!--<link rel="stylesheet" href="{% static "vendor/SlickGrid/examples/examples.css" %}"  type="text/css"/>-->

    <script src="{% static "vendor/SlickGrid/lib/jquery-1.7.min.js" %}"></script>
    <script src="{% static "vendor/SlickGrid/lib/jquery.event.drag-2.2.js" %}" ></script>

    <script src="{% static "vendor/SlickGrid/slick.core.js" %}" ></script>
    <script src="{% static "vendor/SlickGrid/slick.grid.js" %}" ></script>
    <script src="{% static "vendor/SlickGrid/slick.dataview.js" %}" ></script>




<script type="text/javascript">
d3.json("{% static "efp/resources/tb.json" %}", function(error, data) {
    var dt = data;
    for (var i = 0; i < dt.length; i++) {
   dt[i]["id"] = i;
 }
    var grid;
    var columns = [
        {id: "maize_name", name: "Maize ID", field: "maize_name", sortable: true},
        {id: "d2016BS1", name: "Denton_2016.BS.Slice_1", field: "Denton_2016.BS.Slice_1", sortable: true},
        {id: "d2016BS2", name: "Denton_2016.BS.Slice_2", field: "Denton_2016.BS.Slice_2", sortable: true},
        {id: "d2016BS3", name: "Denton_2016.BS.Slice_3", field: "Denton_2016.BS.Slice_3", sortable: true},
        {id: "d2016BS4", name: "Denton_2016.BS.Slice_4", field: "Denton_2016.BS.Slice_4", sortable: true},
        {id: "d2016BS5", name: "Denton_2016.BS.Slice_5", field: "Denton_2016.BS.Slice_5", sortable: true},

        {id: "d2016M1", name: "Denton_2016.M.Slice_1", field: "Denton_2016.M.Slice_1", sortable: true},
        {id: "d2016M2", name: "Denton_2016.M.Slice_2", field: "Denton_2016.M.Slice_2", sortable: true},
        {id: "d2016M3", name: "Denton_2016.M.Slice_3", field: "Denton_2016.M.Slice_3", sortable: true},
        {id: "d2016M4", name: "Denton_2016.M.Slice_4", field: "Denton_2016.M.Slice_4", sortable: true},
        {id: "d2016M5", name: "Denton_2016.M.Slice_5", field: "Denton_2016.M.Slice_5", sortable: true},

        {id: "t2014BS4", name: "Tausta_2014.BS.Section_4", field: "Tausta_2014.BS.Section_4", sortable: true},
        {id: "t2014BS9", name: "Tausta_2014.BS.Section_9", field: "Tausta_2014.BS.Section_9", sortable: true},
        {id: "t2014BS14", name: "Tausta_2014.BS.Section_14", field: "Tausta_2014.BS.Section_14", sortable: true},


        {id: "t2014M4", name: "Tausta_2014.M.Section_4", field: "Tausta_2014.M.Section_4", sortable: true},
        {id: "t2014M9", name: "Tausta_2014.M.Section_9", field: "Tausta_2014.M.Section_9", sortable: true},
        {id: "t2014M14", name: "Tausta_2014.M.Section_14", field: "Tausta_2014.M.Section_14", sortable: true},

        {id: "c2012BS", name: "Chang_2012.BS", field: "Chang_2012.BS", sortable: true},
        {id: "c2012M", name: "Chang_2012.M", field: "Chang_2012.M", sortable: true},


        {id: "l20104", name: "Li_2010.total.Section_4", field: "Li_2010.total.Section_4", sortable: true},
        {id: "l20109", name: "Li_2010.total.Section_9", field: "Li_2010.total.Section_9", sortable: true},
        {id: "l201014", name: "Li_2010.total.Section_14", field: "Li_2010.total.Section_14", sortable: true},

    ];

    var options = {
        enableCellNavigation: true,
        enableColumnReorder: false,
        multiColumnSort: true
    };
    dataview = new Slick.Data.DataView();
    grid = new Slick.Grid("#myGrid", dt, columns, options);
    dataview.setItems(dt);
    dataview.onRowCountChanged.subscribe(function (e, args) {
        grid.updateRowCount();
        grid.render();
    });
    dataview.onRowsChanged.subscribe(function (e, args) {
        grid.invalidateRows(args.rows);
        grid.render();
    });

    grid.onSort.subscribe(simplesort)

    function simplesort(e, args) {
        var cols = args.sortCols;
        var multisort = args.multiColumnSort;
        dataview.sort(function (dataRow1, dataRow2) {
            for (var i = 0; i < cols.length; i++) {
                var field = cols[i].sortCol.field;
                var value1 = dataRow1[field];
                var value2 = dataRow2[field];
                if (value1 == value2) continue;
                var sign = cols[i].sortAsc ? 1 : -1;
                return (value1 > value2) ? sign : -sign;
            }
            return 0;
        });
    }
});




function isNumber(n) {
  return !isNaN(parseFloat(n)) && isFinite(n);
}
</script>
{%endblock%}
